<html>

<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>

    <h1>Register</h1>
    <img th:src="@{/images/TacoCloud.jpg}" />

    <form method="post" th:action="@{/register}" id="registerForm">

        <div>
            <label for="username">Username: </label>
            <input type="text" name="username" />
        </div>

        <div>
            <label for="password">Password: </label>
            <input type="text" name="password" />
        </div>

        <div>
            <label for="confirm">Confirm password: </label>
            <input type="text" name="confirm" />
        </div>

        <div>
            <label for="fullname">Full Name: </label>
            <input type="text" name="fullname" />
        </div>

        <div>
            <label for="street">Street: </label>
            <input type="text" name="street" />
        </div>

        <div>
            <label for="city">City: </label>
            <input type="text" name="city" />
        </div>

        <div>
            <label for="state">State: </label>
            <input type="text" name="state" />
        </div>

        <div>
            <label for="zip">Zip: </label>
            <input type="text" name="zip" />
        </div>

        <div>
            <label for="phone">Phone: </label>
            <input type="text" name="phone" />
        </div>

        <input type="submit" value="Register">

    </form>
 
</body>

</html>